createdAt: "2018-09-11T13:26:20.556Z"
updatedAt: "2018-09-11T13:51:58.801Z"
type: "MARKDOWN_NOTE"
folder: "c0ff7a63c09a742d26d8"
title: "回到未来"
content: '''
  ## 回到未来
  ### 片名
  回到未来(Back to the Future)
  ### 产地
  美国
  ### 导演
  罗伯特·李·泽米吉斯(Robert Lee Zemeckis)
  ### 上映年份
  1985
  ### 类型
  科幻 喜剧
  
  ### 观后感
  虽然这部影片的主要类型是科幻，但是我对里面的科技元素不是很感冒，反而是故事的情节触动了我。主角被迫穿越到1955年，也就是30年前，偶遇了自己的父母，并且让自己的“母亲”迷恋上了自己，为了不改变历史古迹，他不得不想方设法促成自己的父母走到一起，最终成功，并且他自己也在30年前的博士的协助下回到了1985年。故事的开头做了一定铺垫，就是可以描画了主角的父亲乔治，他是一个软弱的人，一直被毕夫欺负，并且不敢反抗，主角也对他感到失望，他们的家庭条件也因为乔治的软弱而处在一般的水平，主角的母亲罗琳在饭桌上饶有趣味的吐槽了“怎么就决定跟他过一生？！”。主角在1955年成功的帮助父亲乔治战胜了软弱，一拳达到了毕夫，赢得了罗琳的青睐，同时也改变了周围人对他的眼光，当主角回到1985年时，他惊讶的发现他们的家焕然一新，比之前高大上很多，自己的父母和兄弟姐妹也变得跟以前大不一样，状态和气质高贵了很多，毕夫也成了他们的擦车工。
  正是这一前一后的对比，让我颇有感触，一点改变，对外来的影响却是巨大的，乔治战胜了自己的软弱，赢得了爱人，赢得了周围人的尊重，让自己的生活品质也大幅度提高！从电影中出来，我的生活中是不是也有应该改变的地方呢？答案是肯定的，而且我正在改变着，加深了对伴偶的关心，从内到外把她放在首位；改变了作息规律，早睡早起，充分利用时间；坚持锻炼身体，感受到运动带来的喜悦和舒服等等，我相信此时此刻的改变对我的未来也会有巨大的影响，我希望拥有的生活品质也一定在渐行渐近！
'''
tags: [
  "Sci-fi"
]
isStarred: false
isTrashed: false
